[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-toolkit = {editable = true,path = "."}

[packages]
numpy = "*"
tensorflow = "*"
tensorflow-addons = "*"
xgboost = "*"
sklearn = "*"
pandas = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
